body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #29334c;
    color:#fafafa;
    font-family: 'Indie Flower', cursive;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2,
h4 {
    text-align: center;
}

.container__players{
 min-width: 100%;
}

#playerx, #playero{
display:flex;
justify-content: center;
align-items: center;
}

.playerx,
.playero,
.container{
    max-width: 300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em !important;
}

.emoji{
    font-size: 2em;
    padding: 0 0.2em;
}

.avatar--container {
    text-align:center;
}

.avatar--img {
border-radius: 50%;
width: 70%;
}

.game-board{
    margin:2em;
    max-width: 300px;
    display: grid;
    align-items: center;
    grid-template-areas: 
    "t t t t t"
    "a b c d e" 
    "f g h i j"
    "k l m n o"
    "p q r s u"
    "v w x y z"
    ". . rs . .";
}

.status-line{
    grid-area: t;
    margin-bottom: 3rem;
    font-size: 1.5rem;
}

.cell{
    border: 1px solid #5d6882;
    outline: none;
    height: 50px;
    width: 50px;
    padding: 0;
    margin: 2px;
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
    border-radius: 10px;
}

.reset{
    background-color: transparent;
    border: 1px solid #fafafa;
    border-radius: 5px;
    height: 30px;
    width: 50px;
    grid-area: rs;
    color: #fafafa;
    font-family: 'Indie Flower', cursive;

}
.reset:active{
    outline: none;
    box-shadow: 0 0 5px #fafafa;
}
.reset:focus{
    outline: none;
    box-shadow: 0 0 5px #fafafa;
}

.board-row{
    margin:0;
    padding: 0;
}

.cell0{
 grid-area: a;
}
.cell1{
 grid-area: b;
}
.cell2{
 grid-area: c;
}
.cell3{
 grid-area: d;
}
.cell4{
 grid-area: e;
}
.cell5{
 grid-area: f;
}
.cell6{
 grid-area: g;
}
.cell7{
 grid-area: h;
}
.cell8{
 grid-area: i;
}
.cell9{
 grid-area: j;
}
.cell10{
 grid-area: k;
}
.cell11{
 grid-area: l;
}
.cell12{
grid-area: m;
}
.cell13{
grid-area: n;
}
.cell14{
grid-area: o;
}
.cell15{
grid-area: p;
}
.cell16{
grid-area: q;
}
.cell17{
grid-area: r;
}
.cell18{
grid-area: s;
}
.cell19{
grid-area: u;
}
.cell20{
grid-area: v;
}
.cell21{
grid-area: w;
}
.cell22{
 grid-area: x;
}
.cell23{
grid-area: y;
}
.cell24{
 grid-area: z;
}

@media only screen and (min-width: 900px){
 .container__players{
    display:flex;
    justify-content: space-between;
 }

 #container {
     margin-top: -19em; 
 }

 .title h1 {
    margin-top: -4em;
}

}